* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  /*--------About---------*/
  /*-------Services-------*/
  /*-------Contact-------*/
}
body header .container {
  padding: 10px 30px;
}
body header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
body header .container nav img {
  margin-left: -15vh;
}
body header .container nav ul {
  padding: 0 10px;
}
body header .container nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1px 10px;
}
body header .container nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  position: relative;
}
body header .container nav ul li a:hover {
  color: red;
  transition: 0.7s;
  border-radius: 10px;
}
body #index .i1 {
  width: 605px;
  height: 605px;
  background-image: url(editface.png);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  float: inline-end;
  left: -25vh;
  top: -27vh;
}
body #index .main-text {
  margin: 13% 18%;
  font-size: 25px;
}
body #index .main-text h1 {
  font-size: 50px;
  margin-top: 20px;
  font-weight: 600;
}
body #index .main-text span {
  color: red;
}
body #index .main-text span:hover {
  color: white;
  transition: 0.8s;
}
body #index .main-text .icons ul {
  list-style: none;
}
body #index .main-text .icons ul li {
  display: inline-block;
  letter-spacing: 30px;
}
body #index .main-text .icons ul li a {
  color: white;
}
body #about {
  padding: 70px 0;
}
body #about .about-img img {
  border-radius: 50%;
  width: 79vh;
  height: 79vh;
}
body #about .sub-title {
  float: inline-end;
  margin: 10vh -70vh;
}
body #about .sub-title h1 {
  font-weight: 600;
}
body #about .sub-title h1:hover {
  color: red;
  transition: 1.5s;
}
body #about .sub-title .desc1 {
  width: 650px;
  font-size: 1.2rem;
  padding-top: 5px;
  font-weight: 600;
}
body #about .tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
body #about .tab-titles .tab-links {
  margin-right: 40vh;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
body #about .tab-titles .tab-links:hover {
  color: red;
  transition: 0.8s;
}
body #about .tab-contents {
  margin: -20px -30px;
}
body #about .tab-contents .skills li {
  list-style: none;
  margin: 10px 0;
}
body #about .tab-contents span {
  color: red;
  font-size: 14px;
  display: table-row;
}
body #about .tab-education {
  float: inline-end;
  margin: -14vh 12vh;
}
body #about .tab-education .education li {
  list-style: none;
  margin: 10px 0;
}
body #about .tab-education span {
  color: red;
  font-size: 14px;
  display: table-row;
}
body #services {
  padding: 30px 0;
}
body .sub-title {
  font-weight: 600;
}
body .services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
body .services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  border-radius: 10px;
}
body .services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
body .services-list div h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
body .services-list div p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}
body .services-list div a {
  text-decoration: none;
  color: lightblue;
}
body .services-list div a:hover {
  text-decoration: underline;
}
body .services-list div:hover {
  background-color: red;
  transform: translateY(-10px);
  transition: 0.5s;
}
body #portofolio .sub-title {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .pos1 {
  width: 70%;
  height: 60%;
  margin: -2% 15%;
}
body #contact .container {
  margin-top: 15vh;
}
body #contact .container .sub-title2 {
  font-size: 3rem;
  font-weight: 550;
}
body #contact .contact-left {
  margin: 23vh 32vh;
  font-size: 1.4rem;
}
body #contact .contact-left .info1 {
  font-size: 3rem;
  font-weight: 500;
}
body #contact .contact-left p i {
  color: red;
  margin-right: 15px;
}
body #contact .contact-left .social-icons i {
  color: white;
  font-size: 1.6rem;
  letter-spacing: 15px;
}
body #contact .contact-left .social-icons i:hover {
  color: red;
  transition: 0.9s;
}
body #contact .contact-left .btn {
  color: white;
  background-color: red;
  width: 170px;
  height: 45px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #contact .contact-left .contact-right p {
  float: inline-end;
  margin-top: -40vh;
}
body #contact .copyright {
  background-color: #262626;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 1.1rem;
}
body #contact .copyright p {
  margin: 10px 0;
}/*# sourceMappingURL=main.css.map */